@media (max-width: 900px) {

  header {
    height: 330px;
  }

  .heading {
    padding-top: 260px;
    padding-left: 10px;
    animation: whatcan 1.5s forwards;
  }

  .heading h1 {
    font-size: 19px;
  }

  body {
    background: #fff;
  }

  .menu ul {
    text-align: left;
    padding-left: 0;
  }

  .menu li {
    margin: 0 auto;
  }

  main {
    padding: 50px 0 0;
  }

  p {
    font-size: 13px;
  }

  .message {
    border: 2px solid rgba(0, 0, 0, 0.408);
    font-size: 17px;
    animation: hello 3.5s forwards;
  }

  #profile h1 {
    font-size: 19px;
  }

  .intro {
    margin: 20px auto 130px;
    border: 1.5px solid rgba(0, 0, 0, 0.301);
  }

  #profile img {
    margin: 30px 0 25px;
  }

  .name {
    width: calc(100% - 45px);
    padding: 67px 0 67px;
    box-shadow: none;
    border-top: 2px dotted rgb(163, 161, 161);
    border-bottom: 2px dotted rgb(163, 161, 161);
    border-radius: 0;
  }

  .top {
    margin: 100px auto 60px;
  }
}