* {
  box-sizing: border-box;
  font-family: Verdana, 'Arial Black', メイリオ, sans-serif;
}

header {
  width: 100%;
  margin-top: 180px;
}

.heading h1{
  font-size: 25px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.544);
}

.heading h1::before {
  content:'- ';
}

.heading h1::after {
  content:' -';
}

body {
  margin: 0;
  background: hsla(62, 82%, 81%, 0.8);
}

li {
  list-style: none;
}

.menu {
  width: 100%;
  padding: 15px 0 10px;
  background: #fff;
  position: fixed;
  top: 0px;
  box-shadow: 0px 10px 10px -5px rgba(2, 2, 2, 0.233);
  z-index: 5;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-content: center;
}

.menu li {
  margin: 0 40px;
}

.menu a {
  color: rgba(0, 0, 0, 0.43);
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: rgba(0, 0, 0, 0.95);
}

.container {
  margin: 0 auto;
  text-align: center;
  background: white;
  width: calc(100% - 25px);
  max-width: 1000px;
  border-radius: 10px;
  padding: 70px 0 30px;
  box-shadow: 0px 10px 10px -5px rgba(2, 2, 2, 0.233);
}

.career-box {
  background: white;
  width: calc(100% - 25px);
  max-width: 850px;
  margin: 0 auto;
  padding: 70px 0 80px 0;
}

table {
  margin: 0 auto;
  text-align: center;
  border: 1.5px solid rgba(2, 2, 2, 0.233);
  border-collapse: collapse;
}

th, td {
  border: 2px solid rgba(179, 179, 179, 0.8);
}

th {
  font-size: 15px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.544);
  padding: 8px 10px;
}

td {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.744);
  padding: 15px 15px;
}

.top {
  text-align: center;
  margin: 90px auto 90px;
  width: 150px;
  height: 50px;
  border: 2px solid #9c9c9c;
  background: #fff;
  border-radius: 45px;
  box-shadow: 0px 10px 10px -5px rgba(2, 2, 2, 0.233);
  transition: background 0.3s;
}

.top a {
  line-height: 50px;
  color: rgba(0, 0, 0, 0.544);
  font-size: 20px;
  text-decoration: none;
  display: block;
  transition: color 0.3s;
}

.top:hover {
  background: #9c9c9c;
  border-radius: 45px;
}

.top a:hover {
  color: #fff;
}

footer {
  width: 100%;
  padding: 20px 10px;
  background: rgb(95, 95, 95);
}

 footer ul {
  padding: 0 50px;
 }

 footer a {
  color:rgb(207, 207, 207);
  font-size: 12px;
  text-decoration: none;
 }

 footer a:hover {
   color:rgb(151, 151, 151);
   text-decoration: underline;
 }

 .footer-name {
  font-size: 16px;
  text-align: right;
  color:rgb(148, 148, 148);
  margin: 0 40px 13px 0;
 }

